<div class="bg-gray-50/10 rounded-md flex justify-around h-10 mx-2 items-center text-white mb-4 shadow-md">
    <button (click)="toggleDarkMode()"
        class="rounded-full size-8 bg-akauntme dark:bg-slate-900 shadow-sm flex justify-center items-center overflow-hidden hover:opacity-100 opacity-90 scale-95 hover:scale-110 transition-all">
        @if (isDarkMode() === true) {
        <svg class="fill-white size-6" id="dark-mode">
            <use href="#moon-icon"></use>
        </svg>
        }@else {
        <svg class="fill-white size-6" id="light-mode">
            <use href="#sun-icon"></use>
        </svg>

        }

    </button>

    Theme
</div>