<!-- Announcement Banner -->
<div class="max-w-[85rem] px-2 sm:px-2 lg:px-8 mx-auto flex justify-between items-center">
    <p class="me-2 inline-block text-xl font-bold">
        <span class="bg-clip-text text-base lg:text-xl text-akauntme dark:text-slate-300">
            {{greeting}}&nbsp;Mark!
        </span>
    </p>

    <!-- <div
        class="w-4/12 hidden lg:block rounded-full bg-gradient-to-r from-cyan-600 to-fuchsia-500 text-white text-center">
        Have a great sales today
    </div> -->

    <div
        class="py-[1px] px-[1px] justify-center flex items-center rounded-full disabled:pointer-events-none bg-gradient-to-r from-cyan-500 to-violet-500 hover:from-violet-500 hover:to-cyan-500 transition-all border-none">
        <div
            class="py-1 px-2 inline-flex items-center gap-x-1 text-sm font-semibold rounded-full disabled:pointer-events-none bg-white dark:text-white dark:bg-slate-800 border-none">
            <svg class="flex-shrink-0 size-4 dark:fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <path
                    d="M24 4C12.972066 4 4 12.972074 4 24C4 35.027926 12.972066 44 24 44C35.027934 44 44 35.027926 44 24C44 12.972074 35.027934 4 24 4 z M 24 7C33.406615 7 41 14.593391 41 24C41 33.406609 33.406615 41 24 41C14.593385 41 7 33.406609 7 24C7 14.593391 14.593385 7 24 7 z M 22.476562 11.978516 A 1.50015 1.50015 0 0 0 21 13.5L21 24.5 A 1.50015 1.50015 0 0 0 21.439453 25.560547L26.439453 30.560547 A 1.50015 1.50015 0 1 0 28.560547 28.439453L24 23.878906L24 13.5 A 1.50015 1.50015 0 0 0 22.476562 11.978516 z" />
            </svg>
            {{ currentTime }}

        </div>

    </div>

</div>
<!-- End Announcement Banner -->