@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {


.slider-btn {
@apply w-6 h-2 rounded-full bg-akauntme dark:bg-slate-700 flex justify-center items-center
}

.slider-btn > div {
@apply pointer-events-none transition-all
}

.slider-btn.active > div {
@apply dark:bg-akauntme bg-white
}

.chart-widget-bar {
@apply cursor-pointer
}

.chart-widget-bar:hover > p{
@apply opacity-100 translate-y-0
}

.akauntme-custom-scroller-2{
scrollbar-width: thin;
scrollbar-color:#635BFF rgba(255, 255, 255, 1);
scroll-margin: 20px;
scroll-behavior: smooth;
scroll-padding: 10px;
}

.akauntme-custom-scroller-none{
scrollbar-width: none;
scroll-behavior: smooth;
}

.dashboard-scroller {
@apply flex justify-between w-full whitespace-nowrap overflow-y-hidden overflow-x-auto py-3 gap-x-2 mt-4 akauntme-custom-scroller-none
}

.dashboard-scroller > chart-widget{
@apply transition-all
}

.dashboard-scroller.first > chart-widget{
@apply translate-x-0
}

.dashboard-scroller.second > chart-widget{
@apply -translate-x-[24em]
}

.dashboard-scroller.third > chart-widget{
@apply -translate-x-[48em]
}

.dashboard-scroller.first > chart-widget,
.dashboard-scroller.second > chart-widget,
.dashboard-scroller.third > chart-widget
{
@apply lg:translate-x-0
}


/* .dashboard-scroller.second > chart-widget{
@apply -translate-x-
} */

.akauntme-custom-scroller{
scrollbar-width: none;
scrollbar-color:#635BFF rgba(255, 255, 255, 1);
scroll-margin: 20px;
scroll-behavior: smooth;
}

.akauntme-custom-scroller::-webkit-scrollbar-thumb {
border-radius: 10px;
}
.akauntme-custom-scroller:hover{
scrollbar-width: thin;
}

.default-pd {
@apply px-3 lg:px-5 py-3
}

.desktop-logo {
@apply relative justify-center items-center flex before:content-[''] before:w-screen before:h-[0.5px] before:bg-white/50 before:absolute before:-bottom-[22px] before:dark:bg-slate-700
}


.desktop-sidebar-link {
@apply flex justify-start items-center ml-4 w-[180px] transition-all px-4 text-white gap-x-3 hover:bg-white dark:hover:bg-slate-900 hover:text-akauntme py-2 rounded-md  cursor-pointer
}

.desktop-sidebar-link.active {
@apply shadow-sm bg-white text-akauntme dark:bg-slate-900
}

.desktop-sidebar-link.active svg,
.desktop-sidebar-link:hover svg {
@apply fill-akauntme
}

.mob-link {
@apply flex flex-col items-center text-gray-500 text-xs md:text-sm
}

.mob-link.active {
@apply text-akauntme
}

.mob-link.active svg{
@apply fill-akauntme
}

.chart-widget-link {
@apply flex items-center justify-center gap-x-3 hover:bg-white hover:text-akauntme rounded-full px-2 py-[2px] font-medium transition-all
}

.chart-widget-link svg {
@apply transition-all 
}

.chart-widget-link:hover svg {
@apply transform translate-x-1 fill-akauntme
}


}