<div class="flex overflow-hidden flex-col">
    <navbar-widget />
    <main class="overflow-y-auto mt-2 w-full default-pd h-screen">
        <div class="inline-block bg-gradient-to-tl from-blue-600 via-transparent to-purple-400 p-px rounded-xl mb-3">
            <div class="bg-white rounded-xl py-1.5 px-3 text-3xl font-bold md:text-4xl lg:text-5xl lg:leading-tight ">
                <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-purple-400 text-transparent">
                    185+
                </span>
            </div>
        </div>
    </main>


</div>